{% extends "plantilla.html" %}

{% block titulo %}
Bienvenidos a la Universidad del Saber - UColtis
{% endblock %}

{% block contenido %} 
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ea repellendus odit obcaecati omnis corporis. Exercitationem, sapiente facilis adipisci consequatur tenetur a tempore maxime quo corporis esse eligendi nemo neque.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ea repellendus odit obcaecati omnis corporis. Exercitationem, sapiente facilis adipisci consequatur tenetur a tempore maxime quo corporis esse eligendi nemo neque.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ea repellendus odit obcaecati omnis corporis. Exercitationem, sapiente facilis adipisci consequatur tenetur a tempore maxime quo corporis esse eligendi nemo neque.</p>

{% endblock %}



